body {
    background-color: #ece3ce;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
    border-radius: 50px;
}

::-webkit-scrollbar-track {
    background: #3a4d39;
}

::-webkit-scrollbar-thumb {
    background: #ffffff;
    border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover {
    background: #ebebeb;
}

p {
    font-size: 20px;
}

@media screen and (max-width: 768px) {
    .swal2-input {
        width: 80vw !important;
    }
}

.btn-hubungi {
    background-color: #3A4D39;
    border: 2px solid transparent;
    outline: 0;
    border-radius: 8px;
    padding: 10px 15px;
    color: #ece3ce;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    transition: transform 0.3s ease;
}

.btn-hubungi i {
    display: inline-block;
    font-size: 16px;
    margin-left: 5px;
    animation: shake 1s infinite alternate;
}

.btn-hubungi:hover {
    background-color: transparent;
    border: 2px solid #3A4D39;
    color: #3A4D39;
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-2px) rotate(5deg);
    }

    50% {
        transform: translateX(5px) rotate(-5deg);
    }

    75% {
        transform: translateX(-1px) rotate(5deg);
    }

    100% {
        transform: translateX(0);
    }
}

.fa-chevron-circle-down,
.fa-chevron-circle-up {
    color: #3A4D39;
    font-size: 20px;
    margin-left: 5px;
    transition: transform 0.3s ease;
}

.dropdown {
    cursor: pointer;
}

.dropdown-content {
    display: none;
    padding-left: 20px;
    list-style: none;
}

.dropdown.open .dropdown-content {
    display: block;
}

.dropdown.open .fa-chevron-circle-down {
    transform: rotate(180deg);
}

.header {
    color: #3A4D39;
}

.text-header {
    color: #3A4D39;
}

.custom-list {
    list-style: none;
    text-align: start;
    color: #4F6F52;
}

.custom-list a {
    color: #4F6F52;
    
}

.custom-list li {
    position: relative;
    padding-left: 30px;
    margin-bottom: 10px;
    font-weight: 600;
}

.custom-list li:before {
    content: "\f058";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    position: absolute;
    left: 0;
    top: 5px;
    font-size: 16px;
    color: #4F6F52;
}